<div class="candidate-sections">
  <section class="section section-resume">
    <header class="section-header resume">
      <h2>Resume</h2>
      <span class="resume-upload">
        <span class="icon add-resume">
          <i class="material-icons"> add </i>
        </span>
        <input
          type="file"
          (input)="fileSubmit($event)"
          [formControl]="file"
          name="file"
          id="file-upload"
        />
      </span>
    </header>
    <div class="section-content">
      <app-candidate-files
        [fileInfo]="fileInfo"
        *ngIf="fileInfo"
      ></app-candidate-files>
    </div>
  </section>

  <section class="section section-experience">
    <header class="section-header experience">
      <h2>Experience</h2>
      <a
        class="add field-experience"
        routerLink="./create/experience"
        routerLinkActive="active"
      >
        <span class="icon add-experience">
          <i class="material-icons"> add </i>
        </span>
      </a>
    </header>
    <div class="section-content">
      <div class="experience-list">
        <app-experience-list
          [EXPERIENCE]="experience"
          [trackById]="trackByExp"
        ></app-experience-list>
      </div>
    </div>
  </section>

  <section class="section section-education">
    <header class="section-header education">
      <h2>Education</h2>
      <a
        class="add field-education"
        routerLink="./create/education"
        routerLinkActive="active"
      >
        <span class="icon add-education">
          <i class="material-icons"> add </i>
        </span>
      </a>
    </header>
    <div class="section-content">
      <div class="education-list">
        <app-education-list [EDUCATION]="education"></app-education-list>
      </div>
    </div>
  </section>
</div>
