<div class="candidate-profile-view">
  <section>
    <h2>Resume</h2>
    <div>
      <div>
        <i class="material-icons"> add </i>
        <input
          type="file"
          (input)="fileSubmit($event)"
          [formControl]="file"
          name="file"
          id="file-upload"
        />
      </div>
      <app-candidate-files
        [fileInfo]="fileInfo"
        *ngIf="fileInfo"
      ></app-candidate-files>
    </div>
  </section>

  <div class="item experience">
    <section class="inner experience">
      <h2>Experience</h2>
      <a
        class="add field-experience"
        routerLink="./create/experience"
        routerLinkActive="active"
      >
        <i class="material-icons"> add </i>
      </a>
    </section>
    <div class="experience-lists">
      <app-experience-list
        [EXPERIENCE]="experience"
        [trackById]="trackByExp"
      ></app-experience-list>
    </div>
  </div>

  <div class="item education">
    <section class="inner education">
      <h2>Education</h2>
      <div class="icon" id="add-icon-education">
        <a
          class="add field-education"
          routerLink="./create/education"
          routerLinkActive="active"
        >
          <i class="material-icons"> add </i>
        </a>
      </div>
    </section>
    <div class="education-lists">
      <app-education-list [EDUCATION]="education"></app-education-list>
    </div>
  </div>
</div>
