<div class="items-fields">
    <div class="item exp" *ngFor="let item of EXPERIENCE">
        <div class="inner field" id="inner-header">
            <h2> {{item.position}} </h2>
            <a id="icon-edit" routerLink="./edit/experience" routerLinkActive="active">
                <i class="material-icons">
                    edit
                </i>
            </a>
        </div>
        <p class="inner field" id="company"> {{item.company}} </p>
        <p class="inner field" id="location"> {{item.location}} </p>
        <p class="inner field" id="dates"> {{item.date.start}} - {{item.date.end}} </p>
        <div id="description-field" class="inner field">
            <p id="description"> {{item.description}} </div>
    </div>
</div>