.container-employer {
  /* border: solid 1px rosybrown; */
  font-size: 15px;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
/* .section {
      border: solid 2px rgb(230, 40, 40);
    } */
.dashboard-sections {
  background-color: #ffff;
  box-shadow: 0 0 5px 1px #dddddd;
  border: solid 1px #cecccc;
  width: 800px;
  padding: 15px;
}
.filter-content {
  display: flex;
  justify-content: center;
}
.section-header {
  /* border: solid 1px black; */
  font-family: 'Raleway', sans-serif;
}
.header {
  margin: 0;
  /* border: solid 1px red; */
  font-weight: 400;
  font-size: 1.1em;
}

.filter-list {
  padding: 0;
  /* border: solid 2px black; */
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0;
}
.filter-list li {
  flex: 1;
  margin: 0 5px 0 5px;
  list-style: none;
  /* border: solid 1px blueviolet; */
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
a {
  flex: 1;
  font-size: 0.8em;
  font-weight: 400;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: none;
  display: flex;
  border: solid 1px #181d1b;
  /* padding: 8px; */
  border-radius: 5px;
  padding: 8px;
  justify-content: center;
  color: #181d1b;
}
a:hover {
  background-color: #e9f7eff6;
}
#all {
  background-color: #e9f7eff6;
}
span {
  display: block;
}
