.employer {
  /*border: solid 1px royalblue;*/
  width: 500px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.section {
  border: solid 1px rosybrown;
}
