<div class="profile-menu-container">
  <!-- <div class="profile-menu "> -->
  <div class="profile-menu">
    <ul class="items-profile ">
      <li class="email-signin">
        <p id="signin ">Signed in as:</p>
        <p class="email "></p>
      </li>
      <li><a routerLink="# "> Your Profile </a></li>
      <li><a routerLink="# "> Testing </a></li>
      <li><a routerLink="./ "> Your Dashboard </a></li>
      <li><a routerLink="# "> Upload Resume </a></li>
      <li><a href="/logout "> Sign Out </a></li>
    </ul>
  </div>
</div>
