<div class="form-container">
  <!--  <div>
    <p> {{groupForm.value | json}} </p>
    <p> {{groupForm.status | json}} </p>
  </div> -->
  <div class="container jobseeker">
    <button id="employer" (click)="clicked(0, 'employer')" [class.selected]="i === 0"> Employer </button>
    <button id="jobSeeker" (click)="clicked(1, 'jobSeeker')" [class.selected]="i === 1"> Job Seeker </button>
  </div>
  <a id="google-sigin" href="/auth/google/">
    <p id="loginGoogle"> LOGIN WITH GOOGLE </p>
    <p id="logo">
      <img src="../../../../assets/google-logo.png">
    </p>
  </a>
  <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  <p> OR </p>

  <!-- LOG IN FORM-->
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" id="login-form" class="login">
    <h2> Sign in Account </h2>
    <div class="form form-group">
      <label for="name">Email:</label>
      <input type="email" id="name" formControlName="email" placeholder="Email" required>
    </div>
    <div class="form form-group">
      <label for="password" id="password">Password:</label>
      <input type="password" placeholder="Password" formControlName="password" id="password" required>
    </div>
    <div class="form form-btn">
      <button id="btn-submit" type="submit" [disabled]="!groupForm.valid"> Sign in </button>
    </div>
  </form>
  <p id="not-member"> Not A Member?
    <a routerLink="../create" routerLinkActive="active"> Sign Up</a>
  </p>
</div>