#login-form {
  width: 300px;
  border: solid 1px rgb(236, 230, 230);
  background-color: white;
  padding: 15px 10px 10px 10px;
  /*height: 300px;*/
  /*border: solid 1px red;*/
}

.form {
 /* border: solid 1px royalblue;*/
  margin-bottom: 5px;
  padding: 10px;
  font-weight: bold;
  font-family: "Arimo", sans-serif;
}
.form > * {
  width: 100%;
}
.form label {
  display: block;
  margin-bottom: 10px;
}
.form input {
  padding: 10px;
  font-size: 13px;
  display: block;
  box-sizing: border-box;
}
.form input:focus{
  outline-style: solid;
  outline-color: #808B9632;
}

.form #btn-submit {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  background-color: #1db544;
  width: 100%;
  box-sizing: border-box;
}
.form #btn-submit:hover{
  background-color: #0E6F09;
  cursor: pointer;
}

p{
  text-align: center;
  color: #556a7b;
}
 a{
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #556a7b;
  cursor: pointer;
}

 a:hover {
  color: #517bab;
  border-bottom: solid 1px #517bab;
}

