<div class="employer-container">
  <!-- {{selectedClasses | json}} -->
  <nav class="menu">
    <div class="search-bar">
      <input
        type="text"
        id="search"
        class="text"
        placeholder="Search for candidates"
      />
      <i class="material-icons"> search </i>
    </div>
    <ul class="items">
      <li class="item item1">
        <a routerLink="./saved-jobs" routerLinkActive="active"> Dashboard </a>
      </li>
      <li class="item item2">
        <a routerLink="./suggested-jobs" routerLinkActive="active">
          Candidates
        </a>
      </li>
      <li class="jobseeker-profile-menu">
        <app-profile-dashboard></app-profile-dashboard>
      </li>
    </ul>
  </nav>
</div>
