.employer-container {
  //   border: solid 2px red;
  padding: 8px 40px 8px 40px;
  background-color: #0074d9;
}

.menu {
  display: flex;
  padding: 0;
  flex: 1;

  //   border: solid 2px green;
  .items {
    margin: 0;
    padding: 0;
    display: flex;
    // border: solid 2px brown;
    flex: 1;
    justify-content: center;
    align-items: center;
    li {
      flex-basis: 120px;
      padding: 0;
      list-style: none;
      //   border: solid 2px blue;
      //   .app.profile {
      //     border: solid 1px black;
      //   }
    }
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      //   border: solid 1px red;
      font-family: 'Raleway', sans-serif;
      color: white;
      font-weight: lighter;
    }
    a span {
      //   border: solid 1px black;
      display: block;
    }
    .inpt-search {
      padding: 0;
      flex-basis: 180px;
      //   border: solid 1px black;
    }
  }
}
.employer-profile {
  border: solid 1px black;
}
