<div class="employer-container">
  <!-- {{selectedClasses | json}} -->
  <nav class="menu">
    <div class="search-bar">
      <input type="text" id="search" class="text" placeholder="Search" />
      <input type="text" id="address" class="text" placeholder="City, Zip" />
      <i class="material-icons"> search </i>
    </div>
    <ul class="items">
      <li class="item item1">
        <a routerLink="./saved-jobs" routerLinkActive="active"> My Jobs </a>
      </li>
      <li class="item item2">
        <a routerLink="./suggested-jobs" routerLinkActive="active">
          Jobs For You
        </a>
      </li>
      <li class="item item3">
        <a routerLink="#" routerLinkActive="active"> Applied Jobs</a>
      </li>
      <li class="jobseeker-profile-menu"></li>
    </ul>
  </nav>
</div>
