<div class="employer-container">
  <!-- {{ isClicked | json }} -->
  <nav class="menu">
    <ul class="items">
      <li class="item item1">
        <a
          routerLink="./jobs-section"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span> Jobs</span>
        </a>
      </li>
      <li class="item item2">
        <a routerLink="./post-job" routerLinkActive="active">
          <span> Post a job</span></a
        >
      </li>
      <li class="item item2">
        <a routerLink="./candidates" routerLinkActive="active">
          <span>Candidates</span>
        </a>
      </li>
      <li class="inpt-search search-candidates">
        <app-search-form></app-search-form>
      </li>
    </ul>
    <div (click)="handleEmployer()" class="employer-profile">
      <!-- <div class="app profile">profile app</div> -->
      <div class="open-menu">
        <div class="item "><span> Me</span></div>
        <i class="material-icons "> expand_more </i>
      </div>
      <app-profile-dashboard [clicked]="isClicked"></app-profile-dashboard>
    </div>
  </nav>
</div>
