.employer-container {
  border: solid 2px red;
}

.menu {
  display: flex;
  border: solid 2px black;
  .items {
    display: flex;
    border: solid 2px brown;
    li {
      border: solid 2px blue;
    }
  }
}

.inpt-search {
  border: solid 1px black;
}
