.candidate-profile-view {
  margin: 15px 40px 5px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 60px;

  // justify-content: center;
  //  border: solid 2px black;
  /* autoprefixer: off */
  .skills {
    // border: solid 2px #dddddd;
    // border-radius: 10px;
    // border: solid 2px red;
    // padding: 20px;
    // width: 500px;
    // background-color: #ffff;
    // border: solid 1px #dddddd32;
    .item {
      // border: solid 2px red;
      //  width: 50%;
      // border: solid 1px #dddddd;
      margin: 0 0 15px 0;
      background-color: #ffff;
      border: solid 1px #dddddd;
      border-radius: 5px;
      // .experience-lists {
      // border: solid 1px black;
      padding: 10px 20px 10px 20px;
      // }
      // border: solid 1px black;
      //padding: 0;
      .add {
        transition: all 0.5s;
      }
      .add:hover {
        border-radius: 5px;
        // border: solid 1px black;
        background-color: #0074d932;
        // color: white;
        //   background-color: rebeccapurple;
        .material-icons {
          color: #001f3f;
        }
      }
    }
    // .item.experience {
    //   border-radius: 7px 7px 0 0;
    // }
    // .item.resume {
    //   border-radius: 0 0 7px 7px;
    // }
    .inner {
      border-radius: 5px;
      margin: 0;
      // border: solid 1px #dddddd;
      border-bottom: solid 2px #dddddd;
      // margin: 0 0 20px 0;
      display: flex;
      box-sizing: border-box;
      // padding: 0 20px 0 20px;
      // width: 400px;
      // margin: 0 0 20px 0;
      align-items: center;
      color: #0074d9;
      // border: solid 1px #0074d9;
      justify-content: space-between;
      // h2 {
      //font-size: 10px;
      //}
      a {
        display: flex;
        align-items: center;
        // border: solid 1px black;
        text-decoration: none;
        // .material-icons {
        //   border: solid 1px green;
        //   display: flex;
        //   justify-items: center;
        // }
      }
      // a:hover{
      //   color: white;
      //   background-color: #7FDBFF32;
      //
      .material-icons {
        color: #0074d9;
        font-size: 30px;
        cursor: pointer;

        // border: solid 1px red;
      }
      h2 {
        margin: 0;
        font-family: "Muli", sans-serif;
        // border: solid 1px black;
        font-size: 18px;
        font-weight: 400;
        // color: #0074d9;
      }
      // .icon {
      //  border: solid 1px black;
      // }
      #add-icon-resume {
        position: relative;
        // border: solid 1px black;
        display: flex;
        align-content: center;
        cursor: pointer;
        overflow: hidden;
        // #file-label {
        //   cursor: pointer;
        //   border: solid 1px black;
        //   margin: 0;
        // border: solid 2px red;
        // z-index: 1;
        // }
        #file-upload {
          position: absolute;
          // z-index: 2;
          box-sizing: border-box;
          padding: 50px;
          opacity: 0;
          left: 0;
          // right: 0;
          // overflow: hidden;
          font-size: 0;
          top: 0;
          cursor: pointer;
          // bottom: 0;
          border: solid 2px black;
        }
      }
    }
    // #add-icon-resume:hover {
    //   background-color: #001f3f;
    //   color: red;
    // }
    // .inner.experience {
    // border: solid 2px black;
    // h2 {
    //   border: solid 2px black;
    // }
    // }
  }
  .candidate-information {
    //border: solid 1px brown;
    // justify-content: center;
    // align-items: flex-start;
    .profile.name {
      border-radius: 5px;
      border: solid 2px #dddddd;
      // border: solid 1px red;
      background-color: #ffff;
      // margin: 0 0 20px 0;
      display: flex;
      justify-content: center;
      // padding: 10px;
      width: 300px;
      // flex-basis: 50px;
      // justify-content: space-between;
      #add-icon-name {
        // border: solid 1px black;
        p {
          cursor: pointer;
          font-family: "Muli", sans-serif;
        }
      }
    }
  }
}
