<div class="candidate-profile-view">
  <div class="skills">

    <div class="item resume">
      <div class="inner resume">
        <h2> Resume </h2>
        <div class="add field-resume" id="add-icon-resume">
          <label id="file-label">
            <i class="material-icons">
              add
            </i>
          </label>
          <input type="file" (input)="fileSubmit($event)" [formControl]="file" name="avatar" id="file-upload">
        </div>
      </div>
    </div>

    <div class="item experience">
      <div class="inner experience">
        <h2> Experience </h2>
        <a class="add field-experience" routerLink="./create/experience" routerLinkActive="active">
          <i class="material-icons">
            add
          </i>
        </a>
      </div>
      <div class="experience-lists">
        <experience-list [EXPERIENCE]="experience" [trackById]="trackByExp"></experience-list>
      </div>
    </div>


    <div class="item education">
      <div class="inner education">
        <h2> Education </h2>
        <div class="icon" id="add-icon-education">
          <a class="add field-education" routerLink="./create/education" routerLinkActive="active">
            <i class="material-icons">
              add
            </i>
          </a>
        </div>
      </div>
      <div class="education-lists">
        <education-list [EDUCATION]="education"></education-list>
      </div>
    </div>

  </div>
  <div class="candidate-information">
    <div class="profile name">
      <div id="add-icon-name">
        <p>add name</p>
      </div>
    </div>
  </div>

</div>