<div class="container-menu1">
    <!--- MENU BAR -->
    <nav class="menu">
        <ul id="menu-list">
            <li class="item item1">item1</li>
            <li class="item item2">item2</li>
            <li class="item item3">item3</li>
            <li class="item item4">item4</li>
            <li class="item item5">item5</li>
        </ul>
    </nav>
    <!--- JOB SEARCH BAR  -->
    <section class="job-search">
        <div class="search-job-form">

        </div>
    </section>
    <!--- JOB SITE INFORMATION -->
    <section class="job-site">

    </section>
    <section class="explanation">

    </section>
    <!--- JOB SITE FOOTER -->
    <footer class="job-footer">

    </footer>

</div>