.menu {
  border-bottom: solid 1px #517BAB;
}
#menu-list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}

img {
  width: 100%;
}

.item {
  font-weight: lighter;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
  flex-basis: 150px;
  text-align: center;
}

.job-search{
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

.search-job-form{
  width: 60%;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  border: solid 1px red;
  text-align: center;
}

.search-job-form input{
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
}

