.candidate-fields-container {
  padding: 15px 40px 5px 40px;
  /* border: solid 1px blue; */
  display: flex;
}

.cand {
  /* padding: 10px; */
  /* background-color: white; */
  flex: 1;
}

.cand-profile {
  /* border: solid 1px blue; */
  margin: 0 5px 0 0;
}

.cand-fields-job {
  /* border: solid 1px red; */
  margin: 0 5px 0 5px;
}

.cand-profile-extras {
  /* border: solid 1px brown; */
  margin: 0 0 0 5px;
}
