.container-menu-dashboard-view {
  // padding-top: 30px;
  // border: solid 1px black;
  --font--fam: 'Open Sans', sans-serif;
}
.job-search {
  display: flex;
  justify-content: center;
  margin: 0;
  // border: solid 2px black;
  align-items: center;
  // margin: 0 0 40px 0;
  height: 550px;
  background-image: url('../../../../assets/desk-jobs.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* .job-search > *{
    border:  solid 1px red;
  } */

// .search-job-form {
//   border: solid 1px black;
// }
.search-job-form {
  // font-size: 60px;
  padding: 50px 20px 50px 20px;
  margin: 0;
  flex-basis: 70%;
  // border: solid 1px white;
  font-family: var(--font--fam);
  font-weight: bold;

  background-color: #11111190;
  // background-color: #0074d990;
  .section-header {
    // border: solid 1px black;
    h1 {
      text-align: center;
      font-size: 3em;
      flex: 1;
      // color: #3d9970;
      // color: #9abde0;
      color: #fff;
      /* border:  solid 1px black; */
      margin: 0 0 20px 0;
    }
  }
  /* color: white;
    background: #3d9970; */

  // border: solid 2px black;
  border-radius: 10px 10px 10px 10px;
  .search-forms {
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-end;
    // align-items: center;
    // padding: 10px;

    justify-content: center;
    // border: solid 2px black;
    margin: 0;
    .search.icon {
      flex-basis: 80px;
      display: flex;
      // align-items: flex-end;
      justify-content: center;
      // border: solid 2px black;
    }
    .search.category {
      // height: 100px;
      // border: solid 1px blue;
      position: relative;
      margin: 0 10px 0 0;
    }
    .search.location {
      margin: 0 10px 0 0;
    }
    .search {
      // border: solid 2px royalblue;
      flex-basis: 35%;
      padding: 0;
      input {
        display: block;
        // display: flex;
        // align-items: center
        // vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin: 0;
        // outline-style: white;
        // outline: 2px white solid;
        outline: 0;
        border: solid 1px #aaaaaa;
        border-radius: 5px;
        transition: all ease-out 0.3s;
        // margin: 0 10px 0 0;
      }
      input:focus {
        // outline: 2px solid #0074d9;
        box-shadow: 0 0 0 2px #4c8fc9;
        // border-color: #0074d9;
      }
      input:hover {
        box-shadow: 0 0 0 2px #4c8fc9;
        // border-color: #0074d9;
      }
      .material-icons {
        // padding: 5px;
        // flex: 1;
        box-sizing: border-box;
        // background-color: #477a9d;
        // color: white;
        cursor: pointer;
        font-size: 35px;
        display: flex;
        justify-content: center;
        // align-items: center;
        // border: solid 3px black;
      }
    }
    .icon {
      // display: flex;
      // justify-content: center;
      // border: solid 1px royalblue;
      #search-jobs {
        // border-radius: 10px;
        color: white;
        // background-color: #477a9d;
        background-color: #2e4a62;

        display: block;
        width: 100%;
        border: none;
        // flex: 1;
        text-decoration: none;
        transition: all 0.5s;
        outline: none;
        // border: solid 2px black;
      }
      #search-jobs:hover {
        background-color: #0074d9;
        color: white;
      }
    }
  }
}
// .separation {
//   background-color: #2e4a6232;
//   height: 200px;
// }

// .search-job-form input {
//   box-sizing: border-box;
//   flex: 5 2 150px;
//   padding: 10px;
//   font-size: 15px;
//   outline-style: none;
//   border: solid 1px #aaaaaa;
//   border-radius: 10px;
//   transition: all 0.5s;
//   margin: 0 10px 0 0;
// }
/* .search-job-form  #search-input{
      border-radius: 10px;
  } */
// .search-job-form input:focus {
//   border-color: #0074d9;
// }
// .search-job-form .material-icons {
//   box-sizing: border-box;
//   border-radius: 10px;
//   flex: 2 1 50px;
//   background-color: #477a9d;
//   color: white;
//   cursor: pointer;
//   font-size: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: solid 3px black;
// }
/* .search-job-form .material-icons:hover {
    background-color: #477a9d32;
    color: white;
  } */
.section-find-right-job {
  // border: solid 1px black;
  display: flex;
  height: 500px;
  background-color: #063d6d;
  .inner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .inner-header {
    border-bottom: solid 10px #fff;
    #last-row {
      padding: 0 0 30px 0;
    }
  }
  .section-header {
    // border: solid 1px blue;
    // display: flex;
    // flex-direction: column;

    flex: 1;
    h1 {
      font-size: 3em;
      margin: 0;
      // width: 400px;

      // border: solid 1px red;
      font-family: var(--font--fam);
    }
  }
  .section-content {
    flex: 1;
    #info-right-job {
      // border: solid 1px red;
      width: 400px;
      font-size: 1.5em;
      line-height: 2em;
    }
  }
}
.job-footer {
  height: 100px;
  background-color: #556a7b;
}

.text-history {
  color: white;
  padding: 10px;
  text-align: center;
}
/*
  #search-input {
    border-radius: 10px 0 0 10px;
  }
  */
.job-site {
  display: flex;
  // flex-direction: column;
  // border: solid 2px black;
  flex-wrap: wrap;
}
.job-site .inner {
  // border: solid 2px blue;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
  background-size: 100%;
  height: 500px;
  background-repeat: no-repeat;
  // border: solid 1px #2b3137;
}
// .job-site .inner.upload-resume {
//   margin: 0 0 20px 0;
// }
// .job-site .inner > * {
//   flex-basis: 400px;
// }
.job-site .information h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  // color: #3d9970;
  line-height: 2em;
  color: #111111;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  /* border:  solid 1px black; */
}

.job-site .information {
  padding: 10px;
  // border: solid 1px #2b313732;
  box-shadow: 0 0 5px 5px #2b313732;
  background-color: white;
  margin: 0 20px 0;

  /* border: solid 1px #aaaaaa; */
}

.search-jobs {
  background-image: url('../../../../assets/accomplishment-agreement.jpg');
}
.upload-resume {
  background-image: url('../../../../assets/resume.jpg');
}
.section-content-div {
  background-color: #07070795;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
// .job-site .information p {
//   font-size: 17px;
//   font-weight: bold;
//   /* text-align: center; */
//   /*
//   border: solid 1px red;
//   */ /*  font-weight: lighter; */
//   color: #515e68;
//   line-height: 32px;
//   font-family: 'Lato', sans-serif;
//   padding: 5px;
// }
// .inner .information-img {
//   display: flex;
//   align-items: center;
// }

// img {
//   box-sizing: border-box;
//   width: 100%;
// }

// .explanation {
//   border: solid gray 1px;
// }
// .reviews-section {
//   border: solid gray 1px;
// }

// .inner > * {
//   border: solid 1px black;
// }

.inner .section-header h1 {
  padding: 0;
  // border: solid 1px black;
  margin: 0 0 10px 0;
  // color: #001f3f;
  color: #9abde0;
  font-family: var(--font--fam);
  font-weight: bolder;
  font-size: 2em;
}
.section-content > * {
  // border: solid 1px black;
  margin: 0;
}

.info {
  // border: solid 1px red;
  // line-height: 2em;
  width: 500px;
  color: #fff;
  font-size: 1.2em;
}
