a {
  text-decoration: none;
  padding: 0;
  color: #0074d9;
  /* border: solid 1px green; */
}
a:hover {
  color: #46a5f8;
}
p {
  padding: 0;
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
  color: #111111;
}
