.container-jobseeker {
  /* border: solid 1px black; */
  font-size: 15px;
  /* padding: 8px 40px 8px 40px; */
  display: flex;
  margin: 50px 0 0 0;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
/* .section {
        border: solid 2px rgb(230, 40, 40);
      } */
.dashboard-sections {
  background-color: #ffff;
  box-shadow: 0 0 5px 1px #dddddd;
  border: solid 1px #cecccc;
  width: 60%;
  padding: 20px;
  /* flex: 1; */
}
.filter-content {
  display: flex;
  justify-content: center;
}
.section-header {
  /* border: solid 1px black; */
  font-family: 'Raleway', sans-serif;
}
.header {
  margin: 0;
  /* border: solid 1px red; */
  font-weight: 400;
  font-size: 1.5em;
}

.filter-list {
  padding: 0;
  /* border: solid 2px black; */
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0;
}
.filter-list li {
  flex: 1;
  margin: 0 5px 0 5px;
  list-style: none;
  /* border: solid 1px blueviolet; */
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
a {
  flex: 1;
  font-size: 0.8em;
  font-weight: 400;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: none;
  display: flex;
  /* border: solid 1px #aaeed4; */
  /* padding: 8px; */
  border-radius: 5px;
  padding: 8px;
  justify-content: center;
  color: #181d1b;
}
a:hover {
  background-color: #e9f7eff6;
}
#all {
  background-color: #e9f7eff6;
}
span {
  display: block;
}
.section-filters {
  border-bottom: solid 2px black;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.employer-jobs {
  /* border: solid 1px black; */
  padding: 0;
}

.employer-jobs li {
  /* border: solid 1px red; */
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  /* background-color: gray; */
  /* background-color: #01ff6329; */
  /* background-color: rgb(#cc3e3e, green, #0074d9); */
}

.job-title {
  /* border-bottom: solid 1px rgb(223, 69, 69); */
  margin: 0 0 5px 0;
}
.job-title .title-location {
  /* border: solid 1px blue; */
  margin: 0;
}
span {
  margin: 0 10px 0 0;
  /* border: solid 1px brown; */
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 800;
}

a {
  text-decoration: none;
  padding: 0;
  color: #0074d9;
  /* border: solid 1px green; */
}
a:hover {
  color: #46a5f8;
}

.job-list-content {
  font-family: 'Raleway', sans-serif;
}
p {
  padding: 0;
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
  color: #111111;
}
