#profile-fields {
  // border: solid 2px red;
  background-color: #11111132;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.fields-container {
  // border: solid 10px black;
  width: 400px;
  border: solid 1px #dddddd;
  // height: 350px;
  overflow: auto;
  border-radius: 5px;
  background-color: white;
  .headers {
    // border: solid 1px black;
    // display: flex;
    // justify-content: center;
    margin: 0 0 15px 0;
    padding: 0;
    .addexperience {
      // padding: 10px;
      // margin: 10px;
      // border: solid 1px red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-family: "Muli", sans-serif;
        // margin: 0 0 5px 0;
        margin: 0;
        // border: solid 1px black;
      }
      a {
        // border: solid 1px red;
        text-decoration: none;
      }
      .material-icons {
        display: block;
        // border: solid 1px black;
        color: black;
        cursor: pointer;
      }
    }
  }
  form {
    // border: solid 1px royalblue;
    // padding: 5px;
    margin: 15px;
    box-sizing: border-box;
    .frm {
      box-sizing: border-box;
      // border: solid 1px gray;
      // margin: 5px;
      padding: 5px 0 5px 0;
      label {
        font-family: "Muli", sans-serif;
        font-weight: 300;
        font-size: 15px;
        display: block;
        // border: solid 1px black;
        margin: 0 0 5px 0;
      }
      input {
        font-size: 15px;
        padding: 10px;
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        outline: none;
        transition: all 1s;
        border: solid 1px #9ca2a7;
      }
      input:focus {
        border-color: #797c7f;
        background-color: #dddddd32;
      }
      textarea {
        box-sizing: border-box;
        font-size: 15px;
        border: solid 1px #9ca2a7;
        // border: solid 1px black;
        width: 100%;
        outline: none;
        transition: all 1s;
        padding: 10px;
      }
      textarea:focus {
        border-color: #797c7f;
        background-color: #dddddd32;
      }
    }
    .date {
      margin: 10px 0 10px 0;
      display: flex;
      // border: solid 1px gray;
      justify-content: space-between;
    }
    .date input {
      box-sizing: border-box;
      width: 100%;
    }
    .frm.btns {
      button {
        color: white;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 10px;
        width: 100px;
        font-size: 18px;
        background-color: #2ecc40;
        cursor: pointer;
        transition: all 0.5s;
        border: none;
        outline: none;
      }
      .save {
        background-color: #2ecc40;
      }
      .save:hover {
        background-color: #3d9970;
        box-shadow: 0 0 5px 0 #3d9970;
      }
      .delete:hover {
        color: black;
        background-color: #c6c6c6;
        box-shadow: 0 0 5px 0 #c6c6c6;
      }
      .delete {
        color: hsl(0, 0%, 53.3);
        border: solid 1px #aaa;
        font-weight: bolder;
        // background-color: #ee635c;
        background-color: #dddddd32;
      }
    }
    .frm.btns.save-delete {
      display: flex;
      justify-content: space-between;
    }
  }
}
