<div class="container-jobseeker">
  <div class="dashboard-sections">
    <section class="section section-save-jobs">
      <header class="section-header">
        <h1 class="header">Applied Jobs</h1>
      </header>
      <div class="section-content">
        <div class="jobseeker-joblist">
          <ul class="jobseeker-jobs" *ngFor="let job of applied">
            <li class="applied-job">
              <app-applied-jobs-view [job]="job"></app-applied-jobs-view>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
