.postjobcontainer {
  //   border: solid 2px blue;
  display: flex;
  margin: 50px;

  /*padding: 10px;*/
  .postjob-section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    // border: solid 2px black;
    text-align: center;
    .postjobs {
      /* border:  solid 1px black; */
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #btn {
      /*border:  solid 1px black;*/
      font-size: 25px;
      color: white;
      cursor: pointer;
      text-decoration: none;
      padding: 20px;
      border-radius: 10px;
      background-color: #39b428;
      font-family: "Montserrat", sans-serif;
      display: block;
      width: 150px;
      transition: all 0.5s ease-in-out;
    }
    #btn:hover {
      background-color: #396e31;
    }
    p {
      font-size: 40px;
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      color: #414957;
      /* border:  solid 1px black; */
    }
  }
  .image-section {
    margin: 0;
    box-sizing: border-box;
    /*border:  solid 2px red;*/
    padding: 0;
    /*width: 500px;*/
    img {
      width: 100%;
    }
  }
}
.postjobcontainer > * {
  flex: 1;
}
