<div class="post-job-row row1" [formGroup]="parentForm">
  <div class="post-col col1">
    <label for="title"> Job title</label>
    <input type="text" id="title" class="input job-title" />
  </div>
  <div class="post-col col2">
    <label for="location"> Location</label>
    <input type="text" id="location" class="input job-location" />
  </div>
  <div class="post-col col3">
    <label for="category"> Category</label>
    <input type="text" id="category" class="input job-category" />
  </div>
</div>
