.employer-jobs {
  border: solid 1px black;
  padding: 0;
}

.employer-jobs li {
  border: solid 1px red;
  list-style: none;
}

.job-title {
  border: solid 1px rgb(223, 69, 69);
}
.job-title .title-location {
  border: solid 1px blue;
  margin: 0;
}
span {
  margin: 0;
  border: solid 1px brown;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: 800;
}

a {
  padding: 0;
  border: solid 1px green;
}

.job-list-content {
  font-family: 'Raleway', sans-serif;
}
p {
  padding: 0;
  font-weight: 200;
  margin: 0;
}
