.job-list-view {
  margin: 0 40px 40px 40px;
  // border: solid 2px royalblue;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  // grid-gap: 20px;
  max-width: 800px;
  min-width: 300px;

  font-family: 'Montserrat', sans-serif;
  .job {
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    background-color: #fff;
    height: 200px;
    p {
      line-height: 32px;
    }
    #company {
      font-weight: bolder;
    }
    #location {
      display: flex;
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
      //   font-weight: lighter;
      align-items: center;
      color: #111111;
      // border: solid 1px black;
      .icon-location {
        display: flex;
        align-items: center;
        .material-icons {
          font-size: 1.3em;
          color: #a89b9b;
          // border: solid 1px blue;
        }
      }
    }
    // #location > * {
    //   border: solid 1px red;
    // }

    // border: solid 2px red;
    padding: 10px;
    margin: 0 0 10px 0;
    .item {
      margin: 0;
      font-size: 15px;
      //   padding: 5px;
      //   border: solid 2px black;
      //   #title {
      //     border: solid 3px blue;
      //   }
      //   .material-icons {
      //     border: solid 3px blue;
      //   }
    }

    .item.title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        line-height: 32px;
        font-weight: 600;
        color: #0074d9;
        // border: solid 3px blue;
        font-size: 18px;
        padding: 0;
        margin: 5px 0 0 0;
      }
      .material-icons {
        border: solid 1px white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 35px;
        color: #2e4a62;
      }
      .material-icons:hover {
        background-color: #ddd;
        color: black;
      }
    }
  }
}

#description {
  // border: solid 1px black;
  padding: 10px 0 10px 0;
}
