.container-menu-dashboard-view {
  background-color: #cfd1d032;
  padding-top: 30px;
}
.job-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px 0 20px 0;
  /*  border:  solid 1px black; */
  align-items: center;
  margin: 0 0 40px 0;
  height: 300px;
}
/* .job-search > *{
    border:  solid 1px red;
  } */
.search-job-form {
  font-size: 60px;
  flex-basis: 80%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  /* color: white;
    background: #3d9970; */
  color: #3d9970;
  /* border:  solid 2px black; */
  border-radius: 10px 10px 10px 10px;
}
.search-job-form p {
  flex: 1;
  /* border:  solid 1px black; */
  margin: 0 0 40px 0;
}
/* .search-job-form p{
    border:  solid 1px black;
  } */
.search-job-form .search-forms {
  display: flex;
  flex-wrap: wrap;
  /* border:  solid 1px black; */
  margin: 0;
}

.search-job-form input {
  box-sizing: border-box;
  flex: 5 2 150px;
  padding: 10px;
  font-size: 15px;
  outline-style: none;
  border: solid 1px #aaaaaa;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 0 10px 0 0;
}
/* .search-job-form  #search-input{
      border-radius: 10px;
  } */
.search-job-form input:focus {
  border-color: #0074d9;
}
.search-job-form .material-icons {
  box-sizing: border-box;
  border-radius: 10px;
  flex: 2 1 50px;
  background-color: #477a9d;
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 3px black; */
}
/* .search-job-form .material-icons:hover {
    background-color: #477a9d32;
    color: white;
  } */

.job-footer {
  height: 100px;
  background-color: #556a7b;
}

.text-history {
  color: white;
  padding: 10px;
  text-align: center;
}
/*
  #search-input {
    border-radius: 10px 0 0 10px;
  }
  */
.job-site {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  /* justify-content: center; */
  /* border: solid 1px black; */
}
.job-site .inner {
  flex: 1;
  /* border: solid 1px blue; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: center; */
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}
.job-site .information h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #3d9970;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  /* border:  solid 1px black; */
}

.job-site .information {
  padding: 10px;
  /* border: solid 1px #aaaaaa; */
  background-color: white;
}
.job-site .information p {
  font-size: 15px;
  font-weight: bold;
  /*  text-align: center;
    border:  solid 1px red; */
  /*  font-weight: lighter; */
  color: #515e68;
  line-height: 32px;
  font-family: "Lato", sans-serif;
  padding: 5px;
}
.inner > * {
  width: 350px;
  /* flex-basis: 400px; */
  margin: 0 30px 10px 0;
  /* border: solid 3px red; */
}

/* .job-site .information-img {
  flex: 1; 
  width: 400px;
  border: solid 5px black;
} */
img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.explanation {
  border: solid gray 1px;
}
.reviews-section {
  border: solid gray 1px;
}
