.container-menu-dashboard-view {
  background-color: #cfd1d032;
  padding-top: 30px;
}
.job-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px 0 20px 0;
  // border: solid 1px black;
  align-items: center;
  margin: 0 0 40px 0;
  height: 300px;
}
/* .job-search > *{
    border:  solid 1px red;
  } */

// .search-job-form {
//   border: solid 1px black;
// }
.search-job-form {
  // font-size: 60px;
  flex-basis: 80%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  /* color: white;
    background: #3d9970; */
  p {
    text-align: center;
    font-size: 60px;
    flex: 1;
    color: #3d9970;
    /* border:  solid 1px black; */
    margin: 0 0 40px 0;
  }
  // border: solid 2px black;
  border-radius: 10px 10px 10px 10px;
  .search-forms {
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-end;
    // align-items: center;
    // padding: 10px;
    // border: solid 2px black;
    margin: 0;
    .search.icon {
      flex: 1;
      display: flex;
      // align-items: flex-end;
      justify-content: center;
      // border: solid 2px black;
    }
    .search.category {
      // height: 100px;
      position: relative;
      margin: 0 10px 0 0;
    }
    .search.location {
      margin: 0 10px 0 0;
    }
    .search {
      // border: solid 2px royalblue;
      flex: 2;
      padding: 0;
      input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        outline-style: none;
        border: solid 1px #aaaaaa;
        border-radius: 10px;
        transition: all 0.5s;
        // margin: 0 10px 0 0;
      }
      input:focus {
        border-color: #0074d9;
      }
      .material-icons {
        padding: 5px;
        // flex: 1;
        box-sizing: border-box;
        // background-color: #477a9d;
        // color: white;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        justify-content: center;
        // align-items: center;
        // border: solid 3px black;
      }
    }
    .icon {
      // display: flex;
      // justify-content: center;
      // border: solid 1px royalblue;
      #search-jobs {
        border-radius: 10px;
        color: white;
        background-color: #477a9d;
        display: block;
        width: 100%;
        // flex: 1;
        text-decoration: none;
        transition: all 0.5s;
        outline: none;
        // border: solid 2px black;
      }
      #search-jobs:hover {
        background-color: #3d9970;
        color: white;
      }
    }
  }
}

// .search-job-form input {
//   box-sizing: border-box;
//   flex: 5 2 150px;
//   padding: 10px;
//   font-size: 15px;
//   outline-style: none;
//   border: solid 1px #aaaaaa;
//   border-radius: 10px;
//   transition: all 0.5s;
//   margin: 0 10px 0 0;
// }
/* .search-job-form  #search-input{
      border-radius: 10px;
  } */
// .search-job-form input:focus {
//   border-color: #0074d9;
// }
// .search-job-form .material-icons {
//   box-sizing: border-box;
//   border-radius: 10px;
//   flex: 2 1 50px;
//   background-color: #477a9d;
//   color: white;
//   cursor: pointer;
//   font-size: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: solid 3px black;
// }
/* .search-job-form .material-icons:hover {
    background-color: #477a9d32;
    color: white;
  } */

.job-footer {
  height: 100px;
  background-color: #556a7b;
}

.text-history {
  color: white;
  padding: 10px;
  text-align: center;
}
/*
  #search-input {
    border-radius: 10px 0 0 10px;
  }
  */
.job-site {
  display: flex;
  flex-direction: column;
  /* border: solid 2px black; */
}
.job-site .inner {
  /* border: solid 2px blue; */
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Quicksand", sans-serif;
}
.job-site .inner.upload-resume {
  margin: 0 0 20px 0;
}
.job-site .inner > * {
  flex-basis: 400px;
}
.job-site .information h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #3d9970;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  /* border:  solid 1px black; */
}

.job-site .information {
  padding: 10px;
  background-color: white;
  margin: 0 20px 0;

  /* border: solid 1px #aaaaaa; */
}
.job-site .information p {
  font-size: 17px;
  font-weight: bold;
  /* text-align: center; */
  /*
  border: solid 1px red;
  */ /*  font-weight: lighter; */
  color: #515e68;
  line-height: 32px;
  font-family: "Lato", sans-serif;
  padding: 5px;
}
.inner .information-img {
  display: flex;
  align-items: center;
}

img {
  box-sizing: border-box;
  width: 400px;
}

.explanation {
  border: solid gray 1px;
}
.reviews-section {
  border: solid gray 1px;
}
