#account-form {
  width: 400px;
  border: solid 1px rgb(236, 230, 230);
  background-color: white;
  padding: 20px;
  // align-self: center;
  // border: solid 1px red;
  h2 {
    text-align: center;
  }
}
