<div class="candidate-sections">
  <section class="section picture-candidate">
    <header class="section-header avatar">
      <div class="profile-header profile-info">
        <h1>Profile information</h1>
        <span class="icon-style edit-skills">
          <i class="material-icons"> edit </i>
        </span>
      </div>
      <a href="">
        <img
          src="../../../../../assets/default_profile_photo.png"
          id="img"
          alt=""
        />
      </a>
    </header>
    <div class="section-content">
      <div class="profile profile-part1">
        <ul class="items">
          <li class="item">
            <a href=""><span> Name</span></a>
          </li>
          <li class="item">
            <a href=""><span> Headline</span></a>
          </li>
          <li class="item">
            <a href=""><span> Location</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section picture-candidate">
    <header class="section-header profile-header">
      <h1>More Profile information</h1>
      <span class="icon-style edit-skills">
        <i class="material-icons"> edit </i>
      </span>
    </header>
    <div class="section-content">
      <div class="profile profile-part">
        <ul class="items">
          <li class="item">
            <a href=""><span> Education</span></a>
          </li>
          <li class="item">
            <a href=""><span> Current Position</span></a>
          </li>
          <li class="item">
            <a href=""><span> Description</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
