<div class="candidate-sections">
  <section class="section picture-candidate">
    <header class="section-header avatar edit-icon">
      <div class="profile-header profile-info">
        <h1>Profile information</h1>
        <a href="">
          <span class="icon-style edit-skills">
            <i class="material-icons"> edit </i>
          </span></a
        >
      </div>
      <a href="">
        <img
          src="../../../../../assets/default_profile_photo.png"
          id="img"
          alt=""
        />
      </a>
    </header>
    <div class="section-content">
      <div class="profile profile-part1">
        <ul class="items">
          <li class="item"><span> Name</span></li>
          <li class="item"><span> Headline</span></li>
          <li class="item"><span> Location</span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section picture-candidate">
    <header class="section-header profile-header edit-icon">
      <div class="profile-header profile-more-info">
        <h1>More Profile information</h1>
        <a href="">
          <span class="icon-style edit-profile-info">
            <i class="material-icons"> edit </i>
          </span>
        </a>
      </div>
    </header>
    <div class="section-content">
      <div class="profile profile-part">
        <ul class="items">
          <li class="item"><span> Education</span></li>
          <li class="item"><span> Current Position</span></li>
          <li class="item"><span> Description</span></li>
        </ul>
      </div>
    </div>
  </section>
</div>
