<div class="candidate-sections">
  <section class="section picture-candidate">
    <header class="section-header avatar">
      <div class="profile-header profile-info header-icon">
        <h1>Profile information</h1>
        <a routerLink="./create/profile-info-1">
          <span class="icon-style edit-skills">
            <i class="material-icons"> edit </i>
          </span>
        </a>
      </div>
      <a id="img-avatar" href="">
        <img src="../../../../../assets/avatar.jpeg" id="img" alt="" />
      </a>
    </header>
    <div class="section-content">
      <div class="profile profile-part1">
        <ul class="items profile-candidate">
          <li class="item"><span class="name"> John Doe</span></li>
          <li class="item">
            <span class="headline">
              I'm interested in web development and I enjoy programming</span
            >
          </li>
          <li class="item"><span class="location"> Chico , CA</span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section picture-candidate">
    <header class="section-header profile-header ">
      <div class="profile-header profile-more-info header-icon">
        <h1>Profile information</h1>
        <a routerLink="./create/profile-info-2">
          <span class="icon-style edit-profile-info">
            <i class="material-icons"> edit </i>
          </span>
        </a>
      </div>
    </header>
    <div class="section-content">
      <div class="profile profile-part">
        <ul class="items">
          <li class="item"><span> Current student at CSU Chico</span></li>
          <li class="item"><span> Student</span></li>
          <li class="item"><span> I graduate next semester</span></li>
        </ul>
      </div>
    </div>
  </section>
</div>
