/* header {
  border: solid 1px blue;
} */

/* .section-content {
  display: flex;
  border: solid 1px black;
} */
/* .section-content > div {
  flex: 1;
} */
/* .item {
  border: solid 1px brown;
} */
.profile-header {
  border: solid 1px rosybrown;
}
.items {
  padding: 0;
  /* border: solid 1px red; */
}
/* .item {
  border: solid 1px black;
  padding: 5px;
} */
/* .profile {
  border: solid 1px black;
}

.section-header h1 {
  border: solid 1px blueviolet;
} */
.section-header {
  border: solid 1px royalblue;
  display: flex;
  flex-direction: column;
}
.section-header a {
  align-self: center;
}
.profile-candidate .item {
  /* border: solid 1px black; */
  display: flex;
  justify-content: center;
}
span {
  /* display: block; */
  /* border: solid 1px red; */
  margin: 0;
  padding: 0 0 5px 0;
  /* font-size: 1rem; */
}
.section-header a {
  /* border-radius: 10px; */
  /* display: flex;
  justify-content: center; */
  width: 80px;
  margin: 8px 0 0 0;
  /* display: block; */
  /* border: solid 1px black; */
}
.section-header #img {
  width: 100%;
  border-radius: 30px;
}
