header {
  border: solid 1px blue;
}
.section-content {
  display: flex;
}
.section-content > ul {
  flex: 1;
}
.profile {
  border: solid 1px black;
}
.section-header h1 {
  border: solid 1px blueviolet;
}

.candidate-sections .candidate-avatar {
  border: solid 1px red;
  display: block;
  padding: 10px;
}
.section-header a {
  width: 100px;
  display: block;
  border: solid 1px black;
}
.section-header #img {
  width: 100%;
}
