/* header {
  border: solid 1px blue;
} */

.section-content {
  display: flex;
  border: solid 1px black;
}
.section-content > div {
  flex: 1;
}
.item {
  border: solid 1px brown;
}
h1 {
  align-self: flex-start;
  border: solid 1px rosybrown;
}
/* .items {
  border: solid 1px red;
} */
/* .profile {
  border: solid 1px black;
}
.section-header h1 {
  border: solid 1px blueviolet;
} */
.section-header {
  border: solid 1px royalblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item a {
  display: flex;
  justify-content: center;
}
span {
  display: block;
  border: solid 1px red;
}
.section-header a {
  /* border-radius: 10px; */
  /* display: flex;
  justify-content: center; */
  width: 80px;
  /* display: block; */
  border: solid 1px black;
}
.section-header #img {
  width: 100%;
  border-radius: 30px;
}
