.container-job-search {
  // background-color: #dddddd32;
  margin: 0;
  background-color: #f5f5f5;
  // background-color: black;
  // border: solid 1px red;
  // padding: 20px 0 0 0;
  // margin: 20px 0 20px 0;
  #container-joblist {
    // display: flex;
    // justify-content: center;
    margin: 0;
    // border: solid 1px black;
  }
  .search-input {
    // background-color: #dddddd32;
    margin: 0;
    // max-width: 500px
    display: flex;
    // margin: 20px 0 0 0;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    height: 200px;
    // border: solid 1px blue;
    .inner {
      width: 600px;
      display: flex;
      // padding: 10px;
      // border: solid 1px black;
      input {
        font-size: 15px;
        box-sizing: border-box;
        display: block;
        border: solid 1px #dddd;
        width: 100%;
        padding: 8px;
        // font-size: 15px;
        border-radius: 5px;
        outline: none;
        transition: all 1s;
      }
      .btn {
        // border: solid 1px black;
        margin: 0 0 0 10px;
        flex: 1;
        display: flex;
        button {
          background-color: #2e4a62;
          color: white;
          flex: 1;
          cursor: pointer;
          border-radius: 5px;
          padding: 5px;
          box-sizing: border-box;
          //   padding: 10px;
          font-size: 15px;
          transition: all .5s;
        }
        button:hover{
          background-color: white;
          color: #2e4a62;
        }
      }
      .frm {
        // border: solid 1px rosybrown;
        margin: 0 0 0 10px;
        input:focus {
          border-color: #0074d9;
        }
      }
    }
    .inner > * {
      flex: 2;
    }
  }
}
