.container-job-search {
  background-color: #dddddd32;
  // border: solid 2px red;
  // padding: 20px;
  // #container-joblist {
  //   display: flex;
  //   justify-content: center;
  //    border: solid 1px black;
  // }
  .search-input {
    // max-width: 500px
    display: flex;
    // margin: 20px 0 0 0;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    height: 100px;
    // border: solid 1px blue;
    .inner {
      width: 600px;
      display: flex;
      // padding: 10px;
      // border: solid 1px black;
      input {
        font-size: 15px;
        box-sizing: border-box;
        display: block;
        border: solid 1px #dddd;
        width: 100%;
        padding: 8px;
        // font-size: 15px;
        border-radius: 5px;
        outline: none;
      }
      .btn {
        // border: solid 1px black;
        margin: 0 0 0 10px;
        flex: 1;
        display: flex;
        button {
          background-color: #2e4a62;
          color: white;
          flex: 1;
          cursor: pointer;
          border-radius: 5px;
          padding: 5px;
          box-sizing: border-box;
          //   padding: 10px;
          font-size: 15px;
        }
      }
      .frm {
        // border: solid 1px rosybrown;
        margin: 0 0 0 10px;
      }
    }
    .inner > * {
      flex: 2;
    }
  }
}
