.nav-container {
  /* border: solid 5px red; */
  /* background-color: #dddddd32; */
  /* background-color: #fff; */
  /* margin: 0; */
  /* background-color: green; */
  margin: 0;
  /* background-color: #f5f5f5; */
  padding: 0;
}
.job-footer {
  height: 80px;
  margin: 0;
  border: solid 1px black;
  background-color: #556a7b;
}

.text-history {
  color: white;
  padding: 10px;
  text-align: center;
}
