.navbarview-container-profiles {
  // border: solid 3px black;
  // display: flex;
  padding: 8px 40px 8px 40px;
  box-sizing: border-box;
  // background-color: #285679;
  background-color: #3d9970;
  // align-items: center;
  // color: white;
  nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    // border: solid 5px white;

    align-items: center;
    .search-bar {
      // border: solid 3px black;
      flex: 0 1 500px;
      // align-items: center;

      #frm-search-address {
        font-weight: bold;
        display: flex;
        // flex: 1;
        flex-wrap: wrap;
        // align-items: center;
        // border: solid 3px rosybrown;

        .frm {
          flex: 3;
          font-size: 16px;
          // border: solid 3px rosybrown;
          .material-icons {
            // padding: 5px;
            display: flex;
            // border-radius: 5px 0 0 5px;
            flex: 1;
            // padding: 8px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #5082b7;
            color: #b5cae0;
            // width: 50px;
          }
          input {
            // display: block;
            font-family: "Raleway", sans-serif;
            padding: 6px 10px 6px 10px;
            font-size: 14px;
            width: 100%;
            // font-size: 10px;
            box-sizing: border-box;
            font-weight: lighter;
            // outline-width: 2px;
            // border: solid 1px #dddddd;
            transition: all 0.9s;
            outline: none;
            border: none;
            // outline: solid 2px;
          }
          // input[id="search"] {
          //   margin: 0 5px 0 0;
          // }
          // #search {
          //   border-radius: 5px;
          // }
          input:focus {
            // outline-style: solid;
            // border-color: #0074d9;
            // box-shadow: 0 2px 2px 2px gray;
            // background-color: #dddddd;
            // transform: scale(1.1);
            border-color: #0074d9;
            // outline-color: white;
          }
        }
        .frm.srch {
          margin: 0 5px 0 0;
        }
        .frm.icon {
          padding: 0;
          display: flex;
          // align-items: center;
          // justify-content: center;
          flex: 1;
          // border: solid 1px white;
        }
      }
    }
  }
  .items {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    // flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;
    // border: solid 1px white;

    .item {
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      // font-weight: 100;
      // padding: 15px;
      margin: 0 3px 0 3px;
      // border: solid 1px black;
      list-style: none;
      flex-basis: 130px;
      //  box-sizing: border-box;
      // padding: 10px;
      // flex:1;
      // padding: 10px 0 10px 0;
      a {
        // border: solid 5x black;
        border-bottom: solid 3px #3d9970;
        text-decoration: none;
        color: white;
        //background-color: #2ecc40;
        display: block;
        font-weight: 500;
        padding: 8px 0 8px 0;
        box-sizing: border-box;
        font-weight: 100;
        transition: color 0.5s ease-out;
      }
      a:hover {
        color: #dddddd;
        border-bottom: 3px solid #2ecc40;
      }
      .active {
        //  background-color: #2ecc4060;
        border-bottom: 3px solid #2ecc40;
        //border-radius: 5px;
        color: #ffff;
        // color: #b9c7d5;
      }
    }
    // li {
    //   border: solid 5x black;
    // }
  }
  .remove {
    display: none;
  }
  .jobseeker-profile-menu {
    // border: solid 5px gray;
    // justify-content: center;
    // flex: 2;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    color: white;
    .icons {
      // border: solid 1px white;
      display: flex;
      align-items: center;

      .item {
        display: flex;
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        justify-content: flex-end;
        // border: solid 1px white;
      }
    }
    .icons > * {
      flex: 1;
      box-sizing: border-box;
      /*border: solid 3px gray;*/
    }
    .item {
      /*border:  solid 1px red;*/
      width: 100px;
      font-size: 20px;
      font-family: "Raleway", sans-serif;
    }
    .profile-menu {
      top: 40px;
      /* height: 200px;*/
      position: absolute;
      box-sizing: border-box;
      right: 20px;
      //border: solid 1px #dddddd;
      box-shadow: 0 0 5px 1px  #dddddd;
      border-radius: 2px;
      // padding: 20px;
      // border: solid 1px gray;
      background-color: white;

      .items-profile {
        padding: 0;
        /*border: solid 1px blue;*/
         // box-shadow: 0 0 5px 1px  #dddddd;
        margin: 0;
        p {
          color: #111111;
          // border: solid 1px red;
          // padding: 8px 15px 8px 15px;
          margin: 0;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
        }
        .email-signing {
         // border: solid 1px red;
          padding: 8px 15px 8px 15px;
        }
        #signin {
         // border: solid 1px red;
          padding: 0 0 5px 0;
        }
        .email {
          font-size: 12px;
          font-weight: bolder;
          font-family: "Raleway", sans-serif;
        }
        li {
          box-sizing: border-box;
          list-style: none;
          width: 180px;

          // border-bottom: solid 1px #948f8e;
          // padding: 10px;
          a {
            padding: 8px 15px 8px 15px;
            // border: solid 1px blue;
            box-sizing: border-box;
            display: block;
            color: black;
            text-decoration: none;
            font-weight: lighter;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
          }
          a:hover {
            color: white;
          //  background-color: #517bab;
          }
        }
         li:hover a{
            background-color: #517bab;
          }
        // .profile:hover {
        //   background-color: #517bab;
        // }
      }
    }
  }
}
