.navbarview-container-profiles {
  // border: solid 3px black;
  // display: flex;
  padding: 10px 40px 10px 40px;
  box-sizing: border-box;
  // background-color: #285679;
  background-color: #3d9970;
  // align-items: center;
  color: white;
  nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    // border: solid 5px white;

    align-items: center;
    .search-bar {
      // border: solid 1px black;
      flex: 1;
      // align-items: center;

      #frm-search-address {
        display: flex;
        flex: 1;
        // flex-wrap: wrap;
        // align-items: center;
        // border: solid 1px black;

        .frm {
          flex: 2;
          font-size: 16px;

          .material-icons {
            // padding: 5px;
            display: flex;
            // border-radius: 5px 0 0 5px;
            flex: 1;
            // padding: 8px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #5082b7;
            color: #b5cae0;
            // width: 50px;
          }
          input {
            // display: block;

            padding: 10px;
            font-size: 15px;
            width: 100%;
            // font-size: 10px;
            box-sizing: border-box;
            // outline-width: 2px;
            // border: solid 1px #dddddd;
            transition: all 0.9s;
            outline: none;
            border: none;
            // outline: solid 2px;
          }
          // input[id="search"] {
          //   margin: 0 5px 0 0;
          // }
          // #search {
          //   border-radius: 5px;
          // }
          input:focus {
            // outline-style: solid;
            // border-color: #0074d9;
            // box-shadow: 0 2px 2px 2px gray;
            // background-color: #dddddd;
            // transform: scale(1.1);
            border-color: #0074d9;
            // outline-color: white;
          }
        }
        .frm.srch {
          margin: 0 5px 0 0;
        }
        .frm.icon {
          padding: 0;
          display: flex;
          // align-items: center;
          // justify-content: center;
          flex: 1;
          // border: solid 1px white;
        }
      }
    }
  }
  .items {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    // flex-wrap: wrap;
    flex: 1;
    // justify-content: flex-end;
    // border: solid 1px white;
    .item {
      font-size: 16px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      // font-weight: 100;
      // padding: 5px;
      // border: solid 1px rosybrown;
      list-style: none;
      flex: 1;
      box-sizing: border-box;
      // padding: 10px;
      // flex:1;
      a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 10px;
        transition: all 0.5s;
      }
      a:hover {
        color: #bac3cb;
      }
      .active {
        background-color: #2ecc40;
        border-radius: 5px;
        // color: #b9c7d5;
      }
    }
  }
  .remove {
    display: none;
  }
  .jobseeker-profile-menu {
    // border:  solid 5px gray;
    justify-content: center;
    flex: 1;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    .icons {
      // border: solid 1px white;
      display: flex;
      align-items: center;

      .item {
        display: flex;
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        justify-content: flex-end;
        // border: solid 1px white;
      }
    }
    .icons > * {
      flex: 1;
      box-sizing: border-box;
      /*border: solid 3px gray;*/
    }
    .item {
      /*border:  solid 1px red;*/
      width: 100px;
      font-size: 20px;
      font-family: "Raleway", sans-serif;
    }
    .profile-menu {
      top: 40px;
      /* height: 200px;*/
      position: absolute;
      box-sizing: border-box;
      right: 20px;
      border: solid 1px #dddddd;
      // padding: 20px;
      // border: solid 1px gray;
      background-color: white;

      .items-profile {
        padding: 0;
        /*border: solid 1px blue;*/
        margin: 0;
        p {
          text-align: center;
          color: black;
          // border: solid 1px red;
          margin: 8px;
          font-size: 20px;
          font-family: "Roboto", sans-serif;
        }
        li {
          box-sizing: border-box;
          list-style: none;
          // border-bottom: solid 1px #948f8e;
          padding: 10px;
          a {
            width: 200px;
            // border: solid 1px blue;
            box-sizing: border-box;
            display: block;
            padding: 5px;
            color: black;
            text-decoration: none;
            font-weight: lighter;
            font-size: 15px;
            font-family: "Roboto", sans-serif;
          }
          a:hover {
            color: white;
            background-color: #517bab;
          }
        }
      }
    }
  }
}
