.job {
  /* border: solid 1px brown; */
  padding: 10px;
}
span {
  /* border: solid 1px brown; */
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  display: block;
  font-weight: 550;
}

#location {
  font-weight: 500;
  margin: 5px 0 0 0;
  color: #696464;
}
.location-content {
  display: flex;
  /* border: solid 1px black; */
}

.material-icons {
  color: #696464;
}
