<div class="post-job-row row3" [formGroup]="parentForm">
  <div class="post-col col1">
    <label for="inpt-skills">Skills</label>
    <div class="skills-container">
      <ul class="skills">
        <li *ngFor="let skill of parentSkills; let i = index">
          <span class="span-skill-job"> {{ skill.skill }} </span>
          <span class="remove-skill">
            <i class="material-icons"> clear </i>
          </span>
        </li>
      </ul>
    </div>
    <div class="form add-skill">
      <div class="form-content">
        <input
          type="text"
          class="inpt-form"
          id="inpt-skills"
          formControlName="skill"
        />
        <div class="btn-frm-add-skill" (click)="handleAddSkill()">
          <i class="material-icons"> add </i>
        </div>
      </div>
    </div>
  </div>
</div>
