<section class="post-form-section">
  <header class="post-form-header">Post a Job</header>
  <form action="">
    <div class="post-job-row row1">
      <div class="post-col col1">
        <input type="text" class="input job-title" />
      </div>
      <div class="post-col col2">
        <input type="text" class="input job-location" />
      </div>
      <div class="post-col col3">
        <input type="text" class="input job-category" />
      </div>
    </div>
    <div class="post-job-row row2">
      <label for="" class="company-label"></label>
      <input type="text" class="input company-name" />
    </div>
  </form>
</section>
