.post-job-container {
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.post-form-section {
  flex-basis: 500px;
  margin: 100px 0 0 0;
  border: solid 1px black;
}
.post-form-section input {
  border: solid 1px black;
}
.post-form-header {
  border: solid 1px black;
}
.post-job-row.row1 {
  display: flex;
  border: solid 1px gray;
}
.post-job-row row2 {
  border: solid 1px brown;
}
