<div class="post-job-container">
  <section class="post-form-section">
    <header class="post-form-header">Post a Job</header>
    <div class="section-content">
      <p>{{ postJobForm.value | json }}</p>
      <form class="frm-post-job" [formGroup]="postJobForm">
        <app-form-row1 [parentForm]="postJobForm"></app-form-row1>
        <app-form-row2 [parentForm]="postJobForm"></app-form-row2>
        <app-skills-form></app-skills-form>
        <div class="post-job-row row4">
          <div class="post-col col1">
            <label for="description">Job description</label>
            <textarea name="" id="description" rows="5"></textarea>
          </div>
        </div>
        <div class="submit-btn"><button class="btn">save</button></div>
      </form>
    </div>
  </section>
</div>
