.container-menu {
  /*background-color: #cfd1d032;*/
  padding-top: 30px;
}
.job-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-job-form {
  font-size: 40px;
  flex-basis: 80%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
  background: #a7b4c6;
}
/* .search-job-form p{
  border:  solid 1px black;
} */
.search-job-form .search-forms {
  display: flex;
  flex-wrap: wrap;
}

.search-job-form input {
  box-sizing: border-box;
  flex: 5 2 150px;
  padding: 5px;
  font-size: 15px;
  outline-style: none;

  border: solid 2px #e2e5e7;
}
.search-job-form .material-icons {
  box-sizing: border-box;
  flex: 2 1 50px;
  background-color: #477a9d;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.search-job-form .material-icons:hover {
  background-color: #477a9d32;
  color: white;
}

.job-footer {
  height: 100px;
  background-color: #556a7b;
}

.text-history {
  color: white;
  padding: 10px;
  text-align: center;
}
/*
#search-input {
  border-radius: 10px 0 0 10px;
}
*/
.job-site {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*border: solid 1px black;*/
}
.job-site .inner {
  flex-basis: 80%;
  /*border: solid 1px blue;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}
.inner > * {
  flex-basis: 300px;
  /*border: solid 1px red;*/
}

img {
  width: 300px;
  height: 200px;
}

.explanation {
  border: solid gray 1px;
}
.reviews-section {
  border: solid gray 1px;
}
