<div class="profile-fields">
  <div class="fields-container">
    <form action="" [formGroup]="educationForm" (ngSubmit)="addEducation()" class="experience-form">
      <!--  <p> {{ expForm.value| json}}</p> -->
      <div class="headers">
        <div class="addexperience">
          <h2>Add Education</h2>
          <a routerLink="../../" routerLinkActive="active">
            <i class="material-icons">
              clear
            </i>
          </a>
        </div>
      </div>
      <div class="frm exp">
        <label for="school">School</label>
        <input type="text" formControlName="school" id="position" placeholder="Ex. CSU Chico" />
      </div>
      <div class="frm cmp">
        <label for="company">Degree</label>
        <input type="text" formControlName="degree" id="company" placeholder="Ex. Bachelor's" />
      </div>
      <div class="frm loc">
        <label for="location">Major or Field </label>
        <input type="text" formControlName="majorField" id="location" placeholder="Ex. Computer Science" />
      </div>

      <div formGroupName="date" class="frm date">
        <input type="text" formControlName="start" id="strt" placeholder="Start date" />
        <input type="text" formControlName="end" id="end" placeholder="End date" />
      </div>
      <div class="frm desc">
        <label for="description">Description</label>
        <textarea type="text" rows="5" formControlName="description" id="description" placeholder=""></textarea>
      </div>
      <div class="frm btns">
        <button class="save" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>