<div class="container-view-jobs">
  <section class="section section-filters">
    <header class="section-header"><h1 id="header">All Jobs</h1></header>
    <div class="section-content">
      <ul class="filter-list">
        <li class="item item1">Active</li>
        <li class="item item2">Closed</li>
        <li class="item item3">Draft</li>
      </ul>
    </div>
  </section>
  <section class="section section-jobs">
    <header class="section-header jobs"><h1>No Jobs found</h1></header>
    <div class="section-content"><app-job-list></app-job-list></div>
  </section>
</div>
