.candidate-profile-view {
  margin: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 60px;
  justify-content: center;
  .item {
    border-radius: 5px;
    border: solid 1px #DDDDDD;
    background-color: #dddddd32;
    margin: 0 0 20px 0;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    .icon .material-icons {
      color: #0074d9;
      font-size: 30px;
      cursor: pointer;
    }
    h2 {
      margin: 0;
      font-family: "Muli", sans-serif;
      // border: solid 1px black;
      font-weight: 500;
      color: #0074D9;
    }
    // .icon {
    //  border: solid 1px black;
    // }
  }
  .profile {
    border-radius: 5px;
    border: solid 1px #DDDDDD;
    background-color: #dddddd32;
    margin: 0 0 20px 0;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
}
