.form-container {
  margin: 20px 0 0 0;
}
#account-form {
  width: 400px;
  border: solid 1px rgb(236, 230, 230);
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  // align-self: center;
  // border: solid 1px red;
  h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }
  label {
    font-family: 'Quicksand', sans-serif;
  }
  button {
    font-family: 'Quicksand', sans-serif;
  }
}
