<!--
  <div class="container-create-account-login">
  	<app-create-account-view [createaccount]="createAccountForm" (submitted)="onSubmit($event)">
  	</app-create-account-view>
  </div>
-->

<!-- <p> {{ createaccount.value | json }} </p> -->
<div class="container-create-account-login">
  <div class="form-container">
    <app-type-option></app-type-option>
    <form
      [formGroup]="createAccountForm"
      (ngSubmit)="onSubmit()"
      id="account-form"
    >
      <!-- <p> name </p> -->
      <h2>Create Your Account</h2>
      <div class="form formgroup">
        <label for="email"> Email: </label>
        <input
          id="email"
          formControlName="email"
          placeholder="email"
          type="text"
          required=""
        />
      </div>
      <div class="form formgroup">
        <label for="password"> Password: </label>
        <input
          id="password"
          formControlName="password"
          placeholder="password"
          type="password"
          required=""
        />
      </div>
      <div class="form form-btn">
        <button
          id="btn-submit"
          type="submit"
          [disabled]="!createAccountForm.valid"
        >
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>
