<!--
  <div class="container-create-account-login">
  	<app-create-account-view [createaccount]="createAccountForm" (submitted)="onSubmit($event)">
  	</app-create-account-view>
  </div>
-->

<!-- <p> {{ createaccount.value | json }} </p> -->
<div class="container-create-account-login">
  <div class="form-container">
    <app-type-option></app-type-option>
    <!-- <p>{{ createAccountForm.value | json }}</p> -->
    <form
      [formGroup]="createAccountForm"
      (ngSubmit)="handleSubmit()"
      id="account-form"
    >
      <!-- <p> name </p> -->
      <h2>Create Your Account</h2>
      <div class="formgroup">
        <app-inpt-row1 [formParent]="createAccountForm"></app-inpt-row1>
      </div>
      <div class="formgroup">
        <app-inpt-row2 [formParent]="createAccountForm"></app-inpt-row2>
      </div>
      <div class="form form-btn">
        <button id="btn-submit" type="submit">Create Account</button>
      </div>
    </form>
  </div>
</div>
