<div class="candidate-sections">
  <section class="section contact-info">
    <header class="section-header contact-info edit-icon">
      <h1>Contact information</h1>
      <a href="">
        <span class="icon-style edit-contact-info">
          <i class="material-icons"> edit </i>
        </span>
      </a>
    </header>
    <div class="section-content">
      <ul class="items">
        <li class="item"><span> Email</span></li>
        <li class="item"><span> Phone Number</span></li>
      </ul>
    </div>
  </section>
</div>
