<div class="candidate-sections">
  <section class="section contact-info">
    <header class="section-header contact-info header-icon">
      <h1>Contact information</h1>
      <a routerLink="./create/profile-info-3">
        <span class="icon-style edit-contact-info">
          <i class="material-icons"> edit </i>
        </span>
      </a>
    </header>
    <div class="section-content">
      <ul class="items">
        <li class="item"><span> john@mail.com</span></li>
        <li class="item"><span> 530-456-21</span></li>
      </ul>
    </div>
  </section>
</div>
