.container.account {
  /*border: solid 1px black;*/
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /*height: 100vh;*/
  justify-content: center;
  background-color: #cfd1d032;
  align-content: center;
}


