.menu {
  background-color: #2e4a62;
  // background-color: #001f3f;
  /* background-color: white;*/
  padding: 10px;
}
#menu-list {
  /*border: solid 1px black;*/
  margin: 0 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.item {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
  flex-basis: 150px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  .active {
    border-radius: 10px;
    /* color: #f2ebea;*/
    background-color: #0f749a;
  }
  /* border: solid 1px black;*/
  /* border: solid 1px red;*/
  a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    /* border: solid 1px red;*/
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    /* border: solid 1px green;*/
  }

  a:hover {
    color: #f2ebea;
  }
}

.item.item3 {
  cursor: pointer;
  /*margin-left: 20px;*/
  /*border: solid 1px black;*/
  position: relative;
  padding: 0;
  /*
  .profile{
    display: block;
    border: solid 5px red;
  }
 */
}
.remove {
  display: none;
}
