<nav class="menu">
    <ul id="menu-list">
        <li class="item item1">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Search Jobs </a>
        </li>
        <li class="item item2 ">
            <a routerLink="/employer/dashboard" routerLinkActive="active "> Post Jobs</a>
        </li>
        <li class="item item3">
            <!-- <p> {{user | json}} </p> -->
            <!-- <p> {{Profile | json}} </p> -->
            <a routerLink="/account/login" [hidden]="auth " routerLinkActive="active "> Sign in</a>
            <div class="arrow" *ngIf="auth && clicked">

            </div>
            <div class="icons" (click)="clickedIcon()" *ngIf="auth ">
                <span> Me: </span>
                <i class="material-icons ">
                    expand_more
                </i>
            </div>
            <div class="userProfile">
                <ul class="items-profile ">
                    <li>
                        <p id="signin"> Signed in as: </p>
                        <p class="email " *ngIf="user "> {{user.email}}</p>
                    </li>
                    <li>
                        <a routerLink="#"> Your Profile </a>
                    </li>
                    <li>
                        <a routerLink="/user/dashboard"> Your Dashboard </a>
                    </li>
                    <li>
                        <a routerLink="/user/dashboard"> Upload Resume </a>
                    </li>
                    <li>
                        <a href="/logout "> Sign Out </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- <p> {{login? 'is login' : 'not login' }} </p> -->
    </ul>
</nav>