.container-menu-dashboard {
  background-color: #fff;
  /* background-color: red; */
  margin: 0 0 40px 0;
}
.container-menu-dashboard-view {
  // padding-top: 30px;
  // border: solid 1px black;
  --font--fam: 'Open Sans', sans-serif;
}

.job-search {
  display: flex;
  justify-content: center;
  // margin: 60px 0 0 0;
  // border: solid 2px black;
  align-items: center;
  // margin: 0 0 40px 0;
  // background-color: #845007;
  height: 400px;
  // background-image: url('../../../../assets/cell-phone-close-up-contemporary-905873.jpg');
  // background-size: 100%;
  // background-repeat: no-repeat;
}

.search-job-form {
  // font-size: 60px;
  padding: 50px;
  // border: solid 2px black;
  margin: 0;
  flex-basis: 50%;
  // border: solid 1px white;
  font-family: var(--font--fam);
  font-weight: bold;
  // background-color: #11111190;
  background-color: rgba(0, 0, 0, 0.6);
  // background-color: #0074d990;
  .section-header {
    h1 {
      text-align: center;
      font-size: 2.5em;
      flex: 1;
      font-weight: 400;
      // color: #2e4a62;
      color: #fff;
      margin: 0 0 20px 0;
    }
  }
  // border-radius: 10px 10px 10px 10px;
}

.section-find-right-job {
  display: flex;
  height: 500px;
  background-color: #063d6d;
  .inner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .inner-header {
    border-bottom: solid 10px #fff;
    #last-row {
      padding: 0 0 30px 0;
    }
  }
  .section-header {
    flex: 1;
    h1 {
      font-size: 3em;
      margin: 0;
      font-family: var(--font--fam);
    }
  }
  .section-content {
    flex: 1;
    #info-right-job {
      width: 400px;
      font-size: 1.5em;
      line-height: 2em;
    }
  }
}
.job-footer {
  height: 100px;
  background-color: #556a7b;
}

.text-history {
  color: white;
  padding: 10px;
  text-align: center;
}

.inner {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Quicksand', sans-serif;
}
// .search-jobs {
//   background-color: #eeeaead8;
// }
.inner > * {
  flex: 1;
}
.section-col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    margin: 0 0 10px 0;
  }
}

.job-site .information h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  // color: #3d9970;
  line-height: 2em;
  color: #111111;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.job-site .information {
  padding: 10px;
  // border: solid 1px #2b313732;
  box-shadow: 0 0 5px 5px #2b313732;
  background-color: white;
  margin: 0 20px 0;

  /* border: solid 1px #aaaaaa; */
}

.inner .section-header h1 {
  padding: 0;
  // border: solid 1px black;
  margin: 0;
  font-family: var(--font--fam);
  font-weight: bolder;
  font-size: 2em;
}
.section-content > * {
  // border: solid 1px black;
  margin: 0;
}
.img-src {
  // border: solid 1px black;
  box-sizing: border-box;
  img {
    width: 100%;
    box-sizing: border-box;
    height: inherit;
  }
}
.info {
  // border: solid 1px red;
  // line-height: 2em;
  width: 500px;

  font-size: 1.2em;
}

.link-to {
  // border: solid 1px goldenrod;
  height: 100px;
  display: flex;
  align-items: flex-end;
  a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    // border: solid 1px black;
    padding: 10px;
    background-color: #063d6d;
    color: #fff;
  }
  a:hover {
    background-color: #7db2e0;
  }
}
