<div class="container-menu-dashboard">
  <div class="container-menu-dashboard-view">
    <!-- - MENU BAR -->
    <!-- - JOB SEARCH BAR -->
    <div class="job-search">
      <section class="search-job-form">
        <!-- <p>Find Your Job</p> -->
        <header class="section-header"><h1>Find Your Job</h1></header>
        <div class="section-content">
          <app-search-form
            [formParent]="searchForm"
            [categories]="CATEGORIES"
            (clickSearch)="handleSearch()"
            (clickCategory)="handleCategory($event)"
          ></app-search-form>
        </div>
      </section>
    </div>

    <!--
      <section class="section-find-right-job">
        <header class="inner-right section-header">
          <div class="inner-header">
            <h1>Find</h1>
            <h1>The right job</h1>
            <h1 id="last-row">For you</h1>
          </div>
        </header>
        <div class="inner-right section-content">
          <p id="info-right-job">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
            sapiente iusto? Mollitia, optio! Consectetur debitis quo, voluptatum
          </p>
        </div>
      </section>
    -->
    <!-- - JOB SITE INFORMATION -->

    <section class="inner upload-resume">
      <div class="section-col1 upload-resume-col1">
        <div class="div-section-inner">
          <header class="section-header"><h1>Upload Your Resume</h1></header>
          <div class="section-content">
            <p class="info upload-resume-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
              minus!
            </p>
            <div class="link-to upload-link">
              <a routerLink="./">Upload resume</a>
            </div>
          </div>
        </div>
      </div>
      <div class="img-src upload-resume">
        <img src="../../../assets/resume.jpg" alt="" />
      </div>
    </section>

    <section class="inner search-jobs">
      <div class="img-src search-jobs">
        <img src="../../../assets/accomplishment-agreement.jpg" alt="" />
      </div>
      <div class="section-col1 search-jobs-col1">
        <div class="div-section-inner">
          <header class="section-header">
            <h1>Find the right job</h1>
            <h1>that fits you</h1>
          </header>
          <div class="section-content">
            <p class="info search-job-info">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
              dicta rem nihil soluta sequi ut sint fugiat, temporibus quaerat
              laborum?
            </p>
            <div class="link-to search-link">
              <a routerLink="./">Search job</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--
      <section class="explanation">
          <h2> Lorem, ipsum dolor.</h2>

      </section>
      <section class="reviews-section">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, laudantium. </p>
      </section>
    -->

    <!-- - JOB SITE FOOTER -->
    <!--
      <footer class="job-footer">
          <div class="text-history">
              Easy job will help you to build your career by finding the right job for you.
          </div>
      </footer>
    -->
  </div>
</div>
