.search {
  padding: 0;
  /* border: solid 1px brown; */
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  margin: 0;
  outline: 0;
  border: solid 1px #aaaaaa;
  /* border-radius: 5px; */
  transition: all ease-out 0.3s;
}
input:focus {
  box-shadow: 0 0 0 2px #4c8fc9;
}
input:hover {
  box-shadow: 0 0 0 2px #4c8fc9;
}
