<div class="experience container">
  <form action="" class="experience-form">
  <div class="headers">
    <div class="addexperience">
      <h2>Add Experience</h2>
    <a routerLink="../" routerLinkActive="active">
      <i class="material-icons">
        clear
      </i>
    </a>
    </div>
  </div>
    <div class="frm exp">
      <label for="position">Position</label>
      <input type="text" id="position" placeholder="Position" />
    </div>
    <div class="frm cmp">
      <label for="company">Company</label>
      <input type="text" id="company" placeholder="Company" />
    </div>
    <div class="frm loc">
      <label for="location">Location</label>
      <input type="text" id="location" placeholder="Location" />
    </div>

    <div class="frm date">
      <input type="text" id="location" placeholder="Start date" />
      <input type="text" id="location" placeholder="End date" />
    </div>
    <div class="frm desc">
      <label for="description">Description</label>
      <textarea type="text" id="description" placeholder="Description">
      </textarea>
    </div>
    <div class="frm btns">
      <button class="save" type="submit">Submit</button>
    </div>
  </form>
</div>