.candidate-sections {
  // background-color: #ffff;
  // border: solid 1px black;

  .section {
    // border: solid 1px black;
    border-radius: 5px;
    background-color: #ffff;
    // border: solid 1px #dddddd;
    padding: 10px 20px 10px 20px;
    margin: 0 0 10px 0;
    // .section-header {
    //   border: solid 1px black;
    // }
    .add-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    // .add-icon > * {
    //   border: solid 1px blue;
    // }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    .add-icon .material-icons {
      display: flex;
      align-items: center;
      color: #0074d9;
    }
    h1 {
      color: #0074d9;
      margin: 0;
      font-family: 'Muli', sans-serif;
      // border: solid 1px black;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
