.candidate-sections {
  // background-color: #ffff;
  // border: solid 1px black;

  .section {
    // border: solid 1px black;
    border-radius: 5px;
    background-color: #ffff;
    border: solid 1px #dddddd;
    padding: 10px 20px 10px 20px;
    margin: 0 0 30px 0;
    box-shadow: 0 0 5px 1px #dddddd;
    // .section-header {
    //   border: solid 1px black;
    // }
    .header-icon {
      // border: solid 1px black;
      // h1{
      //   border: solid 1px black;
      // }
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    // .add-icon > * {
    //   border: solid 1px blue;
    // }
    a,
    .resume-upload {
      // border: solid 1px red;
      // display: flex;
      // align-items: center;
      text-decoration: none;
      span {
        // border: solid 1px black;
        display: flex;
        align-items: center;
      }
    }
    .header-icon .icon-style {
      cursor: pointer;
      transition: all 0.5s;
    }
    .header-icon .icon-style:hover {
      border-radius: 5px;
      // border: solid 1px black;
      background-color: #0074d932;
      // color: white;
      //   background-color: rebeccapurple;
      // color: #001f3f;
      .material-icons {
        color: #001f3f;
      }
    }
    .header-icon .material-icons {
      // border: solid 1px red;
      display: flex;
      align-items: center;
      color: #0074d9;
    }
    h1 {
      color: #0074d9;
      margin: 0;
      font-family: 'Muli', sans-serif;
      // border: solid 1px black;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .section-content {
    // border: solid 1px black;
    ul {
      padding: 0;
      padding: 0;
    }
    li {
      list-style: none;
      // border: solid 1px black;
    }
    .items {
      //border: solid 1px red;
      margin: 8px 0 0 0;
      span {
        // border: solid 1px red;
        color: #8c9194;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 18px;
        display: block;
        transition: all 0.5s;
      }
    }
  }
}
