<div class="navbarview container ">
  <nav class="menu">
    <div class="search nav">
      <input type="text" class="search" placeholder="Search">
      <i class="material-icons">
        search
      </i>
    </div>
    <ul class="items">
      <li class="item item1">
        <a routerLink="./" routerLinkActive="active"> Dashboard </a>
      </li>
      <li class="item item2">
        <a routerLink="#" routerLinkActive="active"> Candidates </a>
      </li>
      <li class="item item3">
        <a routerLink="#" routerLinkActive="active"> Jobs </a>
      </li>
      <li class="item item4">
        <a routerLink="#" routerLinkActive="active"> Resumes </a>
      </li>
    </ul>
    <div class="profile">
      <div class="icons">
        <div class="item">
          Me
        </div>
        <i class="material-icons ">
          expand_more
        </i>
      </div>
    </div>
  </nav>

</div>