<div class="container navbarview">
	<!-- {{selectedClasses | json}}-->
	<nav class="menu">
		<div class="item item1">
				<input type="text" class="text" placeholder="Search">
				<i class="material-icons">
					search
				</i>
			</div>
		<ul class="items">
			<li class="item item2">
				<a routerLink="#" routerLinkActive="active">
					My Jobs </a>
			</li>
			<li class="item item3">
				<a routerLink="#" routerLinkActive="active">
					Jobs For You </a>
			</li>
			<li class="item item4">
				<a routerLink="#" routerLinkActive="active"> Applied Jobs</a>
			</li>
		</ul>
		<div class="container profile">
			<!--  <div class="arrow">

            </div> -->

			<div class="icons" (click)="clickArrow()">
				<div class="item">
					Me
				</div>
				<i class="material-icons ">
					expand_more
				</i>
			</div>
			<!-- <div class="profile-menu"> -->
			<div [ngClass]="selectedClasses">
				<ul class="items-profile ">
					<li>
						<p id="signin"> Signed in as: </p>
						<p class="email "> {{email}}</p>
					</li>
					<li>
						<a routerLink="#"> Your Profile </a>
					</li>
					<li>
						<a routerLink="./"> Your Dashboard </a>
					</li>
					<li>
						<a routerLink="#"> Upload Resume </a>
					</li>
					<li>
						<a href="/logout "> Sign Out </a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</div>