/* .expcontainer{
	 box-sizing: border-box; 
 border:  solid 5px blue;
	 width: 500px;
	background-color: #AAAAAA32;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 10px;
	display: flex;
	justify-content: center; 
} */