.job-search {
  display: none;
  justify-content: center;
  //margin: 60px 0 0 0;
  // border: solid 2px black;
  align-items: center;
  // margin: 0 0 10px 0;
  // background-color: #845007;
  height: 500px;

  // background-repeat: no-repeat;
}
