/* You can add global styles to this file, and also import other style files */

body {
  background-color: #cfd1d032;
  /* border:  solid 5px royalblue;*/
  padding: 0;
  margin: 0;
}
// .container-create-account-login {
//   padding: 10px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   background-color: #cfd1d032;
//   align-content: center;
//   margin: 0 0 20px 0;
//   .form {
//     // border: solid 1px royalblue;
//     margin-bottom: 5px;
//     padding: 10px;
//     font-weight: bold;
//     font-family: "Arimo", sans-serif;

//     label {
//       display: block;
//       margin-bottom: 10px;
//     }
//     input {
//       padding: 10px;
//       font-size: 15px;
//       display: block;
//       box-sizing: border-box;
//     }
//     input:focus {
//       outline-style: solid;
//       outline-color: #808b9632;
//     }
//     #btn-submit {
//       padding: 10px;
//       border-radius: 5px;
//       color: white;
//       font-size: 15px;
//       background-color: #1db544;
//       width: 100%;
//       box-sizing: border-box;
//     }
//     #btn-submit:hover {
//       background-color: #0e6f09;
//       cursor: pointer;
//     }
//   }
//   .form > * {
//     width: 100%;
//   }
// }

// .navbarview.container {
//   border: solid 2px red;
//   display: flex;
//   padding: 20px;
//   flex-wrap: wrap;
//   background-color: #285679;
//   .search.nav {
//     display: flex;
//     // border: solid 1px white;
//     box-sizing: border-box;
//     flex: 1;
//     .material-icons {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       background-color: #5082b7;
//       color: #b5cae0;
//       width: 50px;
//     }
//     input {
//       box-sizing: border-box;
//       padding: 5px;
//       font-size: 20px;
//       width: 300px;
//     }
//   }
//   .profile .icons {
//     color: white;
//     display: flex;
//     flex-wrap: wrap;
//     /*border: solid 1px red;*/
//     font-size: 20px;
//     justify-content: center;
//     align-items: center;
//     // .material-icons {
//     //   border: solid 1px red;
//     // }
//     // .item {
//     //   border: solid 1px red;
//     // }
//   }
//   .menu {
//     // border: solid 1px white;
//     display: flex;
//     margin: 0;
//     flex: 2;

//     li {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       font-weight: lighter;
//       font-family: "Raleway", sans-serif;
//       // border: solid 1px rosybrown;
//       padding: 10px;
//       list-style: none;
//       flex: 1;
//       font-size: 20px;
//       a {
//         color: white;
//         text-decoration: none;
//       }
//     }
//   }
// }

// .profile {
//   display: flex;
//   align-items: center;
//    justify-content: center;
//   cursor: pointer;
//   // border: solid 1px blue;
//   flex: 1;
// }

// .employeerjobseekercontainer.navbarview {
//   /*border: solid 3px white;*/
//   display: flex;
//   padding: 20px;
//   background-color: #285679;
//   align-items: center;
//   color: white;
//   nav {
//     display: flex;
//     flex-wrap: wrap;
//     flex: 1;
//     // border: solid 5px white;
//     align-items: center;
//     .search-bar {
//       display: flex;
//       flex: 1;
//       // border: solid 2px gray;
//       .material-icons {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: #5082b7;
//         color: #b5cae0;
//         width: 50px;
//       }
//       input {
//         padding: 5px;
//         width: 300px;
//         font-size: 20px;
//         box-sizing: border-box;
//         outline-width: 2px;
//       }
//       input:focus {
//         outline-style: solid;
//         outline-color: white;
//       }
//     }
//   }
//   .items {
//     margin: 0 10px;
//     display: flex;
//     box-sizing: border-box;
//     // flex-wrap: wrap;
//     padding: 0;
//     flex: 2;
//     justify-content: flex-end;
//     border: solid 3px red;
//     .item {
//       font-size: 18px;
//       text-align: center;
//       font-family: "Raleway", sans-serif;
//       font-weight: 100;
//       // border: solid 3px white;
//       list-style: none;
//       flex-basis: 200px;
//       box-sizing: border-box;
//       // padding: 10px;
//       // flex:1;
//       a {
//         text-decoration: none;
//         color: white;
//       }
//       a:hover {
//         color: #bac3cb;
//       }
//     }
//   }
//   .remove {
//     display: none;
//   }
//   .container.profile {
//     // border:  solid 1px white;
//     justify-content: center;
//     flex: 1;
//     display: flex;
//     cursor: pointer;
//     position: relative;
//     .icons {
//       /*border: solid 1px white;*/
//       display: flex;
//       .item {
//         display: flex;
//         justify-content: flex-end;
//       }
//     }
//     .icons > * {
//       flex: 1;
//       box-sizing: border-box;
//       /*border: solid 3px gray;*/
//     }
//     .item {
//       /*border:  solid 1px red;*/
//       width: 100px;
//       font-size: 20px;
//       font-family: "Raleway", sans-serif;
//     }
//     .profile-menu {
//       top: 40px;
//       /* height: 200px;*/
//       position: absolute;
//       // border: solid 1px gray;
//       background-color: white;
//       .items-profile {
//         padding: 0;
//         /*border: solid 1px blue;*/
//         margin: 0;
//         p {
//           text-align: center;
//           color: black;
//           margin: 5px;
//           font-family: "Roboto", sans-serif;
//         }
//         li {
//           box-sizing: border-box;
//           list-style: none;
//           // border-bottom: solid 1px #948f8e;
//           padding: 10px;
//           a {
//             box-sizing: border-box;
//             display: block;
//             padding: 5px;
//             color: black;
//             text-decoration: none;
//             font-weight: lighter;
//             font-size: 15px;
//             font-family: "Roboto", sans-serif;
//           }
//           a:hover {
//             color: white;
//             background-color: #517bab;
//           }
//         }
//       }
//     }
//   }
// }
