/* .candidateprofile {
  display: flex;
  justify-content: center; 
   border: solid 2px red; 
} */

/*  #profile-fields{
    border: solid 2px red; 
   background-color: #AAAAAA32;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 10px;
	display: flex;
	justify-content: center; 
 } */
